h1 {
	text-align: center;
	color: #ac01a9;
	font: 1.6em/1.1 Georgia;
	}
    h4 {
        text-align: center;
        color: hsl(301, 99%, 34%);
        font: 1.1em/1.1 Georgia;
        }

    h2  {
        text-align: center;
        color: #3505d2;
        font: 1.4em/1.1  
}
